:host {
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 20px;
}

.mat-grid-list {
  width: calc(100vh - 100px);
}

.mat-grid-tile:hover {
  cursor: pointer;
  opacity: .5;
}
