<mat-toolbar color="primary">
  <span></span>
  <span class="title">Pixel Art</span>
  <div class="controls">
    <button mat-icon-button (click)="downloadImage.emit()">
      <mat-icon>file_download</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>grid_on</mat-icon>
    </button>
  </div>
  <mat-menu #menu>
    <button
      *ngFor="let size of gridSizes"
      (click)="selectGridSize.emit(size)"
      mat-menu-item>
      {{ size + 'x' + size }}
    </button>
  </mat-menu>
</mat-toolbar>
